@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=Inter:wght@400;500;600&display=swap");

@import "tailwindcss";

@theme {
  --color-astraya-background: #050816;
  --color-astraya-surface: #0c1222;
  --color-astraya-surface-soft: #10192e;
  --color-astraya-border: #22314d;

  --color-astraya-text: #f3f5fc;
  --color-astraya-muted: #8d9ab8;

  --color-astraya-accent: #6f9dff;
  --color-astraya-accent-light: #9fc4ff;

  --font-astraya-brand: "Cormorant Garamond", serif;
  --font-astraya-ui: "Inter", sans-serif;
  --color-astraya-brand: #a8bce6;

  --radius-astraya-card: 1.5rem;
  --radius-astraya-control: 1rem;

  --shadow-astraya-glow: 0 0 24px rgb(111 157 255 / 25%);
  --shadow-astraya-card: 0 18px 50px rgb(0 0 0 / 35%);

--shadow-astraya-selected:
  inset 0 0 22px rgb(111 157 255 / 28%);
}



body {
  font-family: var(--font-astraya-ui);
}





/* =-=-=-=-=-=*/
/* ANIMATIONS */
/* =-=-=-=-=-=*/

/* Effect on play btn */
/* cette classe contient un conic-gradient dont l'angle passe progressivement de 0 deg a 360deg en 3s */
@property --previewAngle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.previewPlaying {
  border: 1px solid transparent;

  background:
    linear-gradient(
        var(--color-astraya-surface-soft),
        var(--color-astraya-surface-soft)
      )
      padding-box,
    conic-gradient(
        from var(--previewAngle),
        transparent 0deg,
        var(--color-astraya-accent) 70deg,
        var(--color-astraya-accent-light) 100deg,
        transparent 150deg
      )
      border-box;

  box-shadow:
    0 0 18px rgb(111 157 255 / 18%),
    inset 0 0 18px rgb(111 157 255 / 12%);

  animation: previewBorderSpin 4s linear infinite;
}

@keyframes previewBorderSpin {
  to {
    --previewAngle: 360deg;
  }
}



